* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


$primary-color: #f8f8ff;
$secondary-color: #fe5a1d ;
$accent-color: #242124;

@import './mixins.scss';

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $primary-color;
}

#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

ul, li {
    list-style: none;
}

::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 1em;
}

.cards {

    @include cards;

    .card {
        @include card(200px, 90%);
    }
}

nav {
    height: 60px;
    background-color: $secondary-color;
    color: $primary-color;

    .container {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .navbar-brand {
        text-transform: uppercase;
        width: fit-content;
    }

    // #check {
    //     display: none;
    // }

    // #check:checked ~ .navbar-menu {
    //     transform: translateY(0%);
    // }
    
    // #check:checked ~ label i {
    //     color: $accent-color;
    // }

    i {
        font-size: 1.5em;
        position: absolute;
        z-index: 999;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 1em;
        cursor: pointer;
    }

    .navbar-menu {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.5s ease-in;
        transform: translateY(-100%);
        color: $accent-color;
        z-index: 998;

        .navbar-menu-item {
            padding: 0.75em;
            // border-radius: 1em;
            letter-spacing: 0.3em;
        }

        .navbar-menu-item:after {
            display: block;
            content: '';
            border-bottom: 2px solid $primary-color;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        .navbar-menu-item:hover:after {
            transform: scaleX(1);
        }

        .navbar-menu-item:hover {
            // background-color: $primary-color;
            // color: $secondary-color;
            // transition: all 0.15s ease-in;
        }
    }
}

.home-page-hero {

    position: relative;
    color: $primary-color;
    text-shadow: 3px 3px 5px $accent-color;
    text-transform: uppercase;

    .home-page-img {
        @include img(600px);
    }

    .container {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5em;
    }

    .home-page-title {
        font-size: 2em;

        span {
            color: $secondary-color;
        }

    }

    .home-page-text {
        font-size: 1em;
    }

    .home-page-btn {
        border: none;
        text-shadow: none;
        background-color: $secondary-color;
        color: $primary-color;
        text-transform: uppercase;
        padding: 0.5em;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom center;
            background-color: $primary-color;
            z-index: -1;
            transition: all 1s;
        }

        &:hover::after {
            transform: scaleY(1);
        }

        &:hover {
            color: $secondary-color;
        }
    }

}


.recommendation {

    position: relative;

    .container {
        padding: 0;
    }

    .recommendation-img {
        @include img(300px);
    }

    .recommendation-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1em;
        color: $primary-color;
        text-shadow: 3px 3px 5px $accent-color;
    }

    .recommendation-title {
        margin-bottom: 0.3em;
    }

    .recommendation-list {
        border-left: 3px solid $secondary-color;
    }

    .recommendation-list-item {
        position: relative;
        margin-top: 1.5em;
        left: 20px;
    }

    .recommendation-list-item:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $accent-color;
        border: 3px solid $secondary-color;
        position: absolute;
        top: 5%;
        left: -30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

}

.reviews {

    .container {
        gap: 0em;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 1em;
    }

    .card {

        height: 300px;
        overflow-y: auto;
        justify-content: flex-start;
        padding: 0em;
        box-shadow: none;

        .card-img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 0.3em
        }

        &:first-of-type {
            justify-content: center;
            padding: 1em;
            height: fit-content;
        }

        .cards-title {
            margin: 0.5em;
        }
        
    }

    .review-slot {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em;
        // border-radius: 0.5em;
        cursor: pointer;

        .review-slot-title {
            white-space: nowrap;
        }

        .review-slot-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        .review-slot-review {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}

.prices {

    .card:first-of-type {
        .card-list-item:last-of-type {
            opacity: 0;
        }
    }

    .card {
        @include card(400px, 90%);
        padding: 0em;
        overflow: hidden;

        .card-top {
            height: 100px;
            width: 100%;
            position: relative;
        }
        
        .card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
        
        .card-price {
            color: $secondary-color;
            margin-bottom: 0.5em;
        }

        .card-text {
            margin-bottom: 0.5em;
        }

        .card-list {
            text-align: center
        }

        .card-list-item {
            margin-bottom: 0.5em;
        }

        .card-btn {
            background-color: $secondary-color;
            color: $primary-color;
            padding: 0.5em 1em;
        }

    }

}

.faq {

    .faq-title {
        text-align: center
    }

    .faq-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        font-size: 0.9em;
        cursor: pointer;
    }

    .faq-card {
        // display: flex;
        // flex-direction: column;
        // padding: 0.5em;
        margin: 0.5em 1em;

        .faq-card-text {
            display: none;
            opacity: 0;
        }

    }

    .faq-card-active {

        .faq-card-title {
            background-color: $secondary-color;
            color: $primary-color;
        }

        .faq-card-text {
            display: block;
            opacity: 1;
            border: 1px solid $accent-color;
            border-top: none;
            padding: 0.5em;
            text-align: justify;
        }

        i {
            transform: rotate(-180deg);
        }

    }

}

.services {

    .services-title {
        text-align: center;
        margin-top: 1em;
    }
    
    .card {
        @include card(200px, 100%);
        color: $primary-color;
        font-size: 2em;
        text-shadow: 3px 3px 5px $accent-color;
        transition: all 0.1s ease-in;
        cursor: pointer;

        .card-img {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            border-radius: 1em;
            object-fit: cover;
        }

        &:hover {
            transform: scale(105%);
        }

        &:hover > .card-img {
            filter: blur(1px);
        }
    }

}

.service {

    .services-link {
        margin-bottom: 0.5em;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .service-title {
        margin-bottom: 0.5em
    }

    .service-img {
        @include img(300px);
        margin-bottom: 1em;
        border-radius: 1em;
    }

    .service-description-title {
        border-bottom: 2px solid $secondary-color;
        width: fit-content;
        margin-bottom: 0.5em;
    }

    .service-description {
        text-align: justify;
    }

}

.about {

    .about-main {
        display: flex;
        flex-direction: column;
    }

    .about-text {
        height: 100%;
        width: 100%;
        text-align: justify;
    }

    .about-title {
        border-bottom: 3px solid $secondary-color;
        width: fit-content;
        margin-bottom: 0.5em;
    }

    .about-img {
        width: 100%;
        height: 100%;
        margin: 1em 0em;
    }

    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .slides-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5em;
    }

    .slides-name, .slides-title {
        text-align: center;
    }

    .slides-title {
        font-weight: lighter;
    }

}

.prices-section {

    .custom-section {

        .container {

            padding: 0em;

            .custom-left {
                height: 100%;
                width: 100%;
                position: relative;
    
                .custom-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: brightness(50%);
                }
    
                .custom-title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    color: $primary-color;
                    text-shadow: 3px 3px 5px $accent-color;
                    text-align: center;
                }
    
            }
    
            .custom-right {
                
                height: 100%;
                width: 100%;
                padding: 1em 2em;
    
                .card {
                    @include card(100%, 100%);

                    .service-titles {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                    }

                }

                .selected-services {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 0.5em;

                    .selected-services-title {
                        padding: 0em 0.1em;
                    }

                }

                .total {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

            }
        }



    }

}

.contact {

    display: flex;
    flex-direction: column;
    gap: 1em;

    .contacts {
        height: 100%;
        width: 100%;

        h3 {
            border-bottom: 3px solid $secondary-color;
            width: fit-content;
            margin-top: 0.5em;
        }

        .contact-flex {
            display: flex;
            justify-content: space-between;
        }

        .contact-icons {

            display: flex;
            flex-direction: column;
            gap: 0.5em;

            i {
                color: $secondary-color;
                margin-right: 0.5em;
            }
        }
    }

    .contact-img {
        width: 100%;
        height: auto;
    }

    .contact-list-item {
        margin-top: 0.5em;
        margin-right: 0.5em;
    }

    .contact-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        h5 {
            margin-bottom: 0.5em;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
    
            input, textarea {
                padding: 0.5em;
                border: 1px solid $accent-color;
                border-radius: 0.5em;
            }
        }

        .submit-btn {
            width: fit-content;
            background-color: #fe5a1d;
            color: $primary-color;
            padding: 0.5em 1.5em;
            border: none;
            border-radius: 0.5em;
            cursor: pointer;
            align-self: center;
        }

    }

}

// .shared-layout {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-between;
// }

// footer {
//     margin-top: 1em;
//     background-color: $accent-color;
//     border-top: 2px solid $secondary-color;
//     color: $primary-color;
//     // justify-self: end;
        
//     .footer-title {
//         text-transform: uppercase;
//     }
        
// }

.shared-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
        background-color: $accent-color;
        color: $primary-color;
        border-top: 3px solid $secondary-color;
        width: 100%;
        line-height: 1.3em;

        .container {
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
        }

        h4 {
            border-bottom: 2px solid $secondary-color;
            width: fit-content;
            margin: 0.5em 0em;
        }

        p {
            text-align: justify;
        }

    }
}    

@media (min-width: 650px) {
    nav {

        .container {
            i {
                display: none;
            }

        }

        .navbar-menu {
            height: 100%;
            width: fit-content;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            font-size: 1em;
            transform: translateY(0%);
            color: $primary-color;

            .navbar-menu-item {
                padding: 0.5em 0.75em;
                letter-spacing: normal;
            }
    }

    .contact {
        flex-direction: row;
    }
    }

    
    .recommendation {

        .container {
            padding: 1em 2em;
        }

        .recommendation-text {
            font-size: 1.5em;
        }

        .recommendation-list-item:before {
            top: 5px;
        }
        
    }

    .shared-layout {

        footer {

            .container {
                flex-direction: row;
                justify-content: center;
                gap: 1em;
            }
  
            .footer-about {
                width: 50%;
            }

        }

    }

}

@media (min-width: 1000px){

    .about {

        .about-main {
            flex-direction: row;
            gap: 1em;
        }

        .about-text, .about-img {
            width: 50%;
        }

    }

}